{% extends "layout.html" %}


{% block content%}


<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-md-6">
            <img class="mb-4 img-fluid img-responsive" src="../static/images/pic5.jpg" alt="">
        </div>
        <div class="col-md-6 text-center">
            <p>
                <h3>You can financially support the treatment:</h3>
                <br><br>
                <b>IBAN: CZ4155000000001117771700</b>
                <br>
                <b>SWIFT: RZBCCZPP</b>
                <br><br>
                <i>Minimal amount is 15 EUR due to banking fees</i>
                <br><br>
                Another option is using their Gofundme account, which can be found <a
                    href="https://www.gofundme.com/f/pvc3h-hope-for-oliver">here</a>
                <br>
                Original site: <a href="https://www.nadejeprooliho.cz/">nadejeprooliho.cz</a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}