{% extends "layout.html" %}


{% block content%}


<div class="container" style="text-align: center">
    <p>
        <br>
        You can financially support the treatment.
        <br>
        IBAN: CZ4155000000001117771700
        <br>
        SWIFT: RZBCCZPP
        <br>
        Minimal amount is 15 EUR due to banking fees
        <br>
        Another option is using their Gofundme account, which can be found <a href="https://www.gofundme.com/f/pvc3h-hope-for-oliver">here</a>
        <br>
        Original site: <a href="https://www.nadejeprooliho.cz/">nadejeprooliho.cz</a>
    </p>
</div>
<hr>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-12"><p id="countdown"></p></div>
        <div class="col-12"><h3>We need: 2 250 000 EUR</h3></div>
        <div class="col-12"><h3 style="font-weight: lighter">We have: {{ amount }} EUR</h3></div>
    </div>
</div>

{% endblock content %}