{% extends "layout.html" %}


{% block content%}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4"><img class="img-fluid img-responsive" src="../static/images/pic1.png" alt=""></div>
        <div class="col-md-4">
            <h2>What happened</h2>
            <p>This is Oliver, he is one and a half years old. Unfortunately, he was born with Spinal muscular
                atrophy. His
                parents have only four months left to pay the therapy themselves before it is approved in the EU.
            </p>
        </div>
    </div>
</div>

<div class="container mt-5 ">
    <div class="row justify-content-sm-center"">
        <div class=" col-lg-4 col-md-6 mb-4"><img class="img-fluid img-responsive" src="../static/images/pic2.png"
            alt=""></div>
        <div class="col-lg-4 col-md-6 mb-4">
            <img class="img-fluid img-responsive" src="../static/images/pic3.png" alt="">
        </div>
    <div class="col-lg-4 col-md-6">
        <h2>How can I help? </h2>
        <p>
            Any help is worth it! <br>
            You can <a href="/help">financially support the treatment</a><br>
            or visit oficial websites <a href="https://www.nadejeprooliho.cz/">here</a><br>
            or just share on social sites
            <img class="img-fluid img-responsive" src="../static/images/social_icons.png" style="width: 30%;" alt="">
        </p>
    </div>
</div>
</div>

{% endblock content %}