<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Oliver's struggle</title>
</head>

<body>
    <script src="../static/js/main.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en/sdk.js#xfbml=1&version=v6.0">
    </script>

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <span><img style="float: left; width: 100px; height: 100px;" class="img-fluid navbar-brand"
                    src="../static/images/hearth.png" alt="">
            </span>
            <h1>Help Oliver</h1>

            <div style="margin-left: 50px;" class="fb-share-button" data-href="https://olivers-struggle.com/"
                data-layout="button_count" data-size="large"><a target="_blank"
                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Folivers-struggle.com%2F&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">Share</a></div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/help">How can you help</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/story">Story</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/sma">SMA</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <hr>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4"><img class="img-fluid" src="../static/images/pic1.png" alt=""></div>
            <div class="col-md-4">
                <h2>What happened</h2>
                <p>This is Oliver, he is one and a half years old. Unfortunately, he was born with Spinal muscular
                    atrophy. His
                    parents have only four months left to pay the therapy themselves before it is approved in the EU.
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-5 ">
        <div class="row justify-content-sm-center"">
            <div class=" col-lg-4 col-md-6 mb-4"><img class="img-fluid" src="../static/images/pic2.png" alt=""></div>
        <div class="col-lg-4 col-md-6 mb-4">
            <img class="img-fluid" src="../static/images/pic3.png" alt="">
        </div>
        <div class="col-lg-4 col-md-6">
            <h2>How can I help? </h2>
            <p>You can financially support the treatment.
                <br>
                IBAN: CZ4155000000001117771700
                <br>
                SWIFT: RZBCCZPP
                <br>
                Minimal amount is 15 EUR due to banking fees
                <br>
                Or support their <a href="https://www.gofundme.com/f/pvc3h-hope-for-oliver">Gofundme</a>
                <br>
                Visit the
                <a href="https://www.nadejeprooliho.cz/">original site</a>
            </p>
        </div>
    </div>
    </div>
    <hr>

    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col-12">
                <p id="countdown"></p>
            </div>
            <div class="col-12">
                <h3>We need: 2 250 000 EUR</h3>
            </div>
            <div class="col-12">
                <h3 style="font-weight: lighter">We have: {{ amount }} EUR</h3>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>