{% extends "layout.html" %}

{% block content%}

<div class="container" style="text-align: center">
    <p>
        This is Oliver, he is one and a half years old. Unfortunately, he was born with Spinal muscular atrophy
        (SMA) and
        has suffered from two pneumonias and one respiratory failure during his first year of life. Since his second
        pneumonia he is tied to an artificial ventilation.
        Last year a new type of gene therapy showed up in the USA. It is a wonder with amazing results for most of
        the
        kids with the same condition. Unfortunately, the approvement of this therapy in the EU is supposed to happen
        next
        year. The problem is that the therapy is only for kids up to two years. This means that his parents have
        only four
        months left to pay the therapy themselves before it is approved in the EU.
    </p>
</div>


<hr>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-12"><p id="countdown"></p></div>
        <div class="col-12"><h3>We need: 2 250 000 EUR</h3></div>
        <div class="col-12"><h3 style="font-weight: lighter">We have: {{ amount }} EUR</h3></div>
    </div>
</div>

{% endblock content %}