{% extends "layout.html" %}

{% block content%}


<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <img style="width: 60%;" class="mb-4 img-fluid img-responsive" src="../static/images/pic4.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3 class="text-center">This is Oliver...</h3><br>
            <p>
                he is one and a half years old. Unfortunately, he was born with Spinal muscular atrophy
                (SMA) and
                has suffered from two pneumonias and one respiratory failure during his first year of life.
            </p>
            <p>
                Since his second
                pneumonia he is tied to an artificial ventilation.
                Last year a new type of gene therapy showed up in the USA. It is a wonder with amazing results for most of
                the
                kids with the same condition. Unfortunately, the approvement of this therapy in the EU is supposed to happen
                next
                year.
            </p>
            <p>
                The problem is that the therapy is only for kids up to two years. This means that his parents have
                only four
                months left to pay the therapy themselves before it is approved in the EU.
            </p>
        </div>
    </div>
</div>

{% endblock content %}