<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
    <script src="../static/js/main.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en/sdk.js#xfbml=1&version=v6.0"></script>

    <div class="row">  
      <div class="col-sm-1 col-md-12 col-lg-3">
      </div> 
      <div class="d-none d-lg-block col-md-0 col-lg-1">
        <img src="../static/images/heart.svg " class="d-none d-md-block">
      </div> 
      <div class="col-sm-12 col-md-12 col-lg-4" style="border-bottom: black 7px solid;">
        <H1 style= "padding-top: 65px; padding-left: 20px;">Help Oliver</H1>         
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4" style="border-bottom: black 7px solid; ">
        <nav class="text-center">
          <button onclick="redirect('/')" class="navbar-toggler" data-toggle="collapse" style="padding-top: 90px; outline:none">
            <p>Home</p>
          </button>
          <button onclick="redirect('/help')" class="navbar-toggler" data-toggle="collapse" style="padding-top: 120px; outline:none">
            <p>How can you help</p>
          </button>
          <button onclick="redirect('/story')" class="navbar-toggler" data-toggle="collapse" style="padding-top: 90px; outline:none">
            <p>Story</p>
          </button>
        </nav>
      </div>
    </div>
    <p>
      <div class="container">
      <br>
      This is Oliver, he is one and a half years old. Unfortunately, he was born with Spinal muscular atrophy (SMA) and has suffered from two pneumonias and one respiratory failure during his first year of life. Since his second pneumonia he is tied to an artificial ventilation. 
      Last year a new type of gene therapy showed up in the USA. It is a wonder with amazing results for most of the kids with the same condition. Unfortunately, the approvement of this therapy in the EU is supposed to happen next year. The problem is that the therapy is only for kids up to two years. This means that his parents have only four months left to pay the therapy themselves before it is approved in the EU. 
      </p>
    </div>
    <div class="container">
    <div class="row" style="background: none">
      <div class="col-md"></div>
      <div class="col-md-8" style="border-bottom: black 5px solid; padding-top: 10px; text-align: center;">
        <p id="countdown"></p>
        <h3>We need: 2 250 000 EUR</h3>
        <h3 style="font-weight: lighter">We have: {{ amount }} EUR</h3>
        <div class="fb-share-button" data-href="https://olivers-struggle.com/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Folivers-struggle.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
      </div>
      <div class="col-md"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>